@theme {
  --radius-px: 1px;
  --radius-2xs: 0.0625rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-0d25: 0.0625rem;
  --radius-0d5: 0.125rem;
  --radius-1: 0.25rem;
  --radius-1d5: 0.375rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-4: 1rem;
  --radius-6: 1.5rem;
  --radius-8: 2rem;
  --rounded-full: 9999px;
}
