@utility focus-ring {
  &:focus-visible:not(:disabled) {
    outline-width: var(--focus-ring-width);
    outline-offset: var(--focus-ring-offset);
    outline-color: var(--focus-ring-color);
    outline-style: var(--focus-ring-style);
  }
}
